<h1>All Input Types</h1>
<form action="">
  <div class="form-group">
    <label for="text" class="form-label">Text</label>
    <input id="text" class="form-control" type="text" />
  </div>

  <div class="form-group">
    <label for="password" class="form-label">Password</label>
    <input id="password" class="form-control" type="password" />
  </div>

  <div class="form-group">
    <label for="number" class="form-label">Number</label>
    <input id="number" class="form-control" type="number" />
  </div>

  <div class="form-group">
    <label for="email" class="form-label">Email</label>
    <input id="email" class="form-control" type="email" />
  </div>

  <div class="form-group">
    <label for="tel" class="form-label">Telephone</label>
    <input id="tel" class="form-control" type="tel" />
  </div>

  <div class="form-group">
    <label for="month" class="form-label">Month</label>
    <input id="month" class="form-control" type="month" />
  </div>

  <div class="form-group">
    <label for="week" class="form-label">Week</label>
    <input id="week" class="form-control" type="week" />
  </div>

  <div class="form-group">
    <label for="date" class="form-label">Date</label>
    <input id="date" class="form-control" type="date" />
  </div>

  <div class="form-group">
    <label for="datetime" class="form-label">Datetime</label>
    <input id="datetime" class="form-control" type="datetime" />
  </div>

  <div class="form-group">
    <label for="datetime-local" class="form-label">Datetime-local</label>
    <input id="datetime-local" class="form-control" type="datetime-local" />
  </div>

  <div class="form-group">
    <label for="time" class="form-label">Time</label>
    <input id="time" class="form-control" type="time" />
  </div>

  <div class="form-group">
    <label for="button" class="form-label">Button</label>
    <input id="button" class="form-control btn btn-primary" type="button" value="Button" />
  </div>

  <div class="form-group">
    <label for="color" class="form-label">Color</label>
    <input id="color" class="form-control" type="color" />
  </div>

  <div class="form-group">
    <label for="hidden" class="form-label">Hidden</label>
    <input id="hidden" class="form-control" type="hidden" />
  </div>

  <div class="form-group">
    <label for="image" class="form-label">Image</label>
    <input id="image" class="form-control img-fluid" type="image" />
  </div>

  <div class="form-group">
    <label for="search" class="form-label">Search</label>
    <input id="search" class="form-control" type="search" />
  </div>

  <div class="form-group">
    <label for="url" class="form-label">Url</label>
    <input id="url" class="form-control" type="url" />
  </div>

  <div class="form-group">
    <label for="range" class="form-label">Range</label>
    <input id="range" class="form-range" type="range" />
  </div>

  <div class="form-group">
    <label for="file" class="form-label">File</label>
    <input id="file" class="form-control-file" type="file" />
  </div>

  <div class="form-check">
    <input id="checkbox" class="form-check-input" type="checkbox" />
    <label for="checkbox" class="form-check-label">Checkbox</label>
  </div>

  <div class="form-check">
    <input id="radio" class="form-check-input" type="radio" />
    <label for="radio" class="form-check-label">Radio</label>
  </div>

  <div class="form-group">
    <input id="reset" class="form-control btn btn-warning" type="reset" />
  </div>
  <div class="form-group">
    <input id="submit" class=" form-control btn btn-primary" type="submit" />
  </div>
</form>
<hr>
<a class="btn btn-warning" routerLink="/reactiveform"> Goto Reactive form page</a>
<button class="btn btn-primary float-end" (click)="navigateByUrlAnchor()">Goto anchor page</button>