<div class="container">
    <h1>Call, SMS and Email functionality with HTML</h1>
    <ul>
        <li><a href="tel:7879899">Call: 7879899</a></li>
        <li><a href="sms:76878788">Send New message</a></li>
        <li><a href="mailto:demo@gmail.com">Send New Email</a></li>
    </ul>

    <hr>
    <a class="btn btn-warning float-start" routerLink="/reactiveform"> Goto Reactive form page</a>
    <button class="btn btn-primary float-end" (click)="navigateToInputType()">Goto Input types page</button>
</div>